@import '../../public/colors/colors.scss';
.signup{
    font-family: "Gotham SSm", Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: $secondary-color;
    .navbar-brand{
        @media screen and (max-width:1000px){
            margin: auto;
        }
    }
    .about-details{
        @media screen and (max-width: 1000px) {
            h5{
                font-size: 22px;
            }
            p{
                font-size:14px;
            }
        }
    }
    .secondColor {
        color: $tertiary-color;
    }
    .secondBackgroundColor{
        background-color: $tertiary-color;
    }
    .head-font{
        color: #000F12;
    }
    .btn{
        font-size: 17px!important;
    }
    .google-btn{
        position: relative;
        .google-button{
            background-color: #4285F4!important;
            &:active{
                background-color: #356AD9!important;
            }
        } 
        .google-icon{
            position: absolute;
            left: 1px;
            bottom:1px;
            top: 1px;
            background-color:#fff
        }
    }
    .or{
        position: relative;
        &::after{
            position: absolute;
            content:"";
            width: 190px;
            height: 1px;
            top: 50%;
            left: 55%;
            background-color: #e0e0e0;
        }
        &::before{
            position: absolute;
            content:"";
            width: 190px;
            height: 1px;
            top: 50%;
            right: 55%;
            background-color: #e0e0e0;
        }
    }
    .apple-button{
        border-color: #343a40;
        color: #343a40;
        &:hover{
            background-color: #fff!important;
            color: #343a40;
        }
        &:active{
            box-shadow: inset -2px -2px 10px #343a40;
        }
    }
    .input{
        position: relative;
        input[type="email"]{
            padding-left: 60px;
            height: 100%;
            &:hover,&:active,&:focus{
                border-color: $tertiary-color!important;
                box-shadow: none!important;
            }
        }
        .msg-icon{
            position: absolute;
            top: 5px;
            left: 20px;
        }
    }
    .second-form-input{
        position: relative;
        input{
            padding: 10px 50px 10px 50px;
            height: 100%;
            &:hover,&:active,&:focus{
                border-color: $tertiary-color!important;
                box-shadow: none!important;
            }
        }
        .icon{
            position: absolute;
            top: 8px;
            left: 20px;
        }
    }
    .second-form-input3{
        select{
            &:hover,&:active,&:focus{
                border-color: $tertiary-color!important;
                box-shadow: none!important;
            }
            option{
                &:hover,&:active,&:focus{
                    border-left:solid 3px $tertiary-color!important;
                    background-color: $tertiary-color!important;
                    box-shadow: none!important;
                }
            }
        }
    }
    .form-check{
        text-align: left;
    }
    .continue-button,.submit-button{
        background-color: $tertiary-color;
    }
    .user-type:hover,.user-type:focus,.user-type:active{
        background-color: $tertiary-color;
    }
    .companies{
        background-color:#fff;
        color: #000F12;
    }
    .about{
        background-color: #F9F9F9;
        color: #000F12;
    }
    .signup-footer{
        background-color:$footer-color;
    }
}
